@using vm80q.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>vm80q</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")

</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="sidebar-image">
                <img id="img_profile" src="/Content/img/business_user.png" class="img-circle">
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a onclick="location.href='@Url.Action("Index","Main")'">Volta ao Mundo</a>
                </li>
                <li><a><strong>Utilizador</strong> :  @ViewBag.Jogador.Username</a></li>
                <li><a><strong>Pontuação</strong> : @ViewBag.Jogador.Max_pontuacao</a></li>
                <li><a><strong>Jogos Terminados</strong> : @ViewBag.Jogador.Jogos_terminados</a></li>
                <li><a><strong>Jogos Iniciados</strong> : @ViewBag.Jogador.Jogos_totais</a></li>
                <li></li>
            </ul>
            <div style="bottom:20px; left:85px; position:absolute">
                <a href="@Url.Action("Logout","Main")" style="">Logout</a>
            </div>
        </div>
        <!-- Page content -->
        <div id="page-content-wrapper">
            @RenderBody()
        </div>
    </div>
    <!-- JavaScript -->
    @System.Web.Optimization.Scripts.Render("~/Content/js")
    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });
    </script>
</body>
</html>
    